<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>아이티팩토리</title>
  <link rel="stylesheet" th:href="@{/css/main/main.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{https://unpkg.com/aos@2.3.1/dist/aos.css}" >
  <link rel="stylesheet" th:href="@{//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css}">
</head>

<body>
  <th:block th:replace="~{layouts/header :: header}"></th:block>
  <section class="section-1 main-section section">
    <div class="first-section top-banner">
      <video th:poster="@{/images/main/top-video.jpg}" muted autoplay loop>
        <source th:src="@{/images/video/bg-video.mp4}" type="video/mp4">
      </video>
      <div class="main-text">
        <h3>ITFACTORY</h3><span></span>
        <div class="p-wrap">
          <p>차별적인 ICT 기술과 서비스를 통해</p>
        </div>
        <div class="p-wrap">
          <p>제조기업의 경쟁력 강화와 성장을 지원합니다.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-2 section">
    <div class="second-section">
      <div class="left-wrap">
        <img data-aos="fade-right" data-aos-duration="2000" data-aos-offset="100"
        th:src="@{/images/main/section-2-left.jpg}" />
        <div class="p-wrap" data-aos="fade-left" data-aos-duration="2000" data-aos-offset="0">
          <span></span>
          <p>기업혁신의</p>
        </div>
        <div class="p-wrap" data-aos="fade-left" data-aos-duration="2000" data-aos-offset="0" data-aos-delay="500">
          <p>든든한 ICT 파트너</p>
        </div>
      </div>
      <div class="right-wrap">
        <div class="bg-text">
          <p>We Create Solutions</p>
          <p>We Create Solutions</p>
          <p>We Create Solutions</p>
          <p>We Create Solutions</p>
        </div>
        <ul>
          <li>
            <img th:src="@{/images/main/main_1.jpg}"  data-aos="fade-up" data-aos-duration="1000"  data-aos-delay="00"/>
            <h4 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="00">풍부한 경험과 경력</h4>
            <p data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="00">더존, 비즈온 등 유명 IT 업체 출신의<br>전문가와 경력자로 구성되어<br>다양한 업종의 기업체<br>ERP 시스템을 구축합니다.</p>
          </li>
          <li>
            <img th:src="@{/images/main/main_2.jpg}" data-aos="fade-up" data-aos-duration="1000"/>
            <h4 data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="00" >SI형 기업 솔루션</h4>
            <p data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="00">패키지 솔루션을 기본으로 <br> SI(System Integration)<br>전문시장 및 시대 트랜드에<br>부합하는 개발을 합니다.</p>
          </li>
          <li>
            <img th:src="@{/images/main/main_3.jpg}" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="00" />
            <h4 data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="00">전문 기술력</h4> 
            <p data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="00">최신 IT 기술을 적용하여<br>최고의 성능과 안전성을 지원합니다.<br>축적된 기술력으로 업종별 맞춤형 <br>커스터마이징 및 개발을 지원합니다.</p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section-3 section">
    <div class="third-section">
      <h3 data-aos="fade-right" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="00">We Create Solutions</h3>
      <p data-aos="fade-right" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="100">아이티팩토리의 혁신적인 기술을 경험해보세요.</p>
      <div class="contents-wrap">
        <ul class="contents-item">
          <li class="icon">
            <i class="xi-calendar-check"></i>
          </li>
          <li class="txt">
            <h4>K-HACCP</h4>
            <p> 모바일, PC로 간편하게 HACCP 일지 작성부터 관리까지
              사후관리의 니즈를 파악해 만든 검증된 솔루션으로
              해썹 관리를 한 방에 해결할 수 있는 독보적인 플랫폼 입니다.</p>
              <img th:src="@{/images/main/Check.png}"/>
          </li>
          <li class="enter">
            <a th:href="@{/khaccp}"><i class="xi-long-arrow-right"></i></a>
          </li>
        </ul>
        <ul class="contents-item">
          <li class="icon">
            <i class="xi-file-text-o"></i>
          </li>
          <li class="txt">
            <h4>스마트HACCP</h4>
            <p> (주)아이티팩토리의 스마트 HACCP 솔루션은
              한국식품안전관리원에서 제공하는 표준 모듈을 적용하여
              스마트 HACCP 심사기준에 적합한 서비스를 제공합니다.</p>
              <img th:src="@{/images/main/Calender.png}"/>
          </li>
          <li class="enter">
            <a th:href="@{/smarthaccp}"><i class="xi-long-arrow-right"></i></a>
          </li>
        </ul>
        <ul class="contents-item">
          <li class="icon">
            <i class="xi-lightbulb-o"></i>
          </li>
          <li class="txt">
            <h4>주요실적</h4>
            <p> 아이티팩토리는 차별적인 ICT기술과 서비스를 통해 제조기업의 경쟁력 강화와 성장을 지원합니다.</p>
              <img th:src="@{/images/main/Bulb.png}"/>
          </li>
          <li class="enter">
            <a th:href="@{/performance?part=0&page=1}"><i class="xi-long-arrow-right"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section-4 section">
    <div class="fourth-section bottom-banner">
      <h3 data-aos="fade-right" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="00">아이티팩토리</h3>
      <h4 data-aos="fade-right" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="100">스마트 HACCP 솔루션</h4>
      <p data-aos="fade-right" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="200">한국식품안전관리원에서 제공하는 표준 모듈을 적용하여 <br>스마트 HACCP 심사기준에 적합한 서비스를 제공합니다.</p>
      <div class="text-wrap">
        <h5 data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="500">궁금하신 점은 언제든지 문의하세요.</h5>
        <a href="" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="500">문의하기 <i class="xi-arrow-right"></i></a>
      </div>
    </div>
  </section>
  <th:block th:replace="~{layouts/footer :: footer}"></th:block>
  <script defer th:src="@{/js/layouts/header.js}"></script>
  <script defer th:src="@{/js/main/main.js}"></script>
  <script th:src="@{https://unpkg.com/aos@2.3.1/dist/aos.js}"></script>
</body>


</html>