<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/performance/performance.css}">
<link rel="stylesheet" th:href="@{https://unpkg.com/aos@2.3.1/dist/aos.css}">
<link rel="stylesheet" th:href="@{//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css}">
</head>
<body>
	<th:block th:replace="~{layouts/header :: header}"></th:block>
	<section id="slider" class="title-section">
		<h3><b> 주요실적</b><br> 아이티팩토리의 <br>주요실적을 확인해보세요 </h3>
		<img th:src="@{images/pages/performance/performance.jpg}" alt="background-images">
		<span><i class="xi-long-arrow-down"></i></span>
	</section>
	<div id="overflow">
		<div class="content">
			<h1>주요실적</h1>
			<a th:href="@{/performance?part=0&page=1}" style="border: 1px solid black;" id="all">전체</a>
			<a th:href="@{/performance?part=1&page=1}" style="border: 1px solid black;" id="food">식품부문</a>
			<a th:href="@{/performance?part=2&page=1}" style="border: 1px solid black;" id="manuf">소재,부품,장비부문</a>
			<a th:href="@{/performance?part=3&page=1}" style="border: 1px solid black;" id="etc">기타</a>
			<div th:each="performance : ${performanceList}" style="border: 1px solid black;">
				<div th:text="${performance.compName}"></div>
				업종 : <div th:text="${performance.sector}"></div>
				분야 : <div th:text="${performance.field}"></div>
				내용 : <div th:text="${performance.detail}"></div>
			</div>
			<div>
				<span th:if="${paging.cri.page != 1}"><a th:href="@{/performance(part=${part},page=${paging.cri.page - 1})}">&lt; 이전페이지</a></span>
				<span th:each="num : ${#numbers.sequence((paging.startPage), (paging.endPage))}" ><a th:text=${num} th:href="@{/performance(part=${part}, page=${num})}"></a></span>
				<span th:if="${paging.cri.page != paging.totalCount / paging.cri.perPageNum + 1}"><a th:href="@{/performance(part=${part},page=${paging.cri.page + 1})}">다음페이지 &gt;</a></span>
			</div>
			<input type="button" id="performRegist" value="등록" th:if="${userId == 'admin'}">
		</div>
		<th:block th:replace="~{layouts/footer :: footer}"></th:block>
	</div>
<script defer th:src="@{/js/layouts/header.js}"></script>
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
<script th:inline="javascript" >
	const part = [[${part}]];
</script>
	<script th:src="@{/js/performance/performance.js}"></script>
</body>
</html>