@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#slider {
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden;
}
#slider img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: view 10s linear both;
}
@keyframes view {
  0% { transform: scale(1);}
  100% { transform: scale(1.2);}
}
#overflow {
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
}

/* title section */
.title-section h3 {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  letter-spacing: -.2rem;
  font-size: 4.2vw;
  color: rgba(255, 255, 255, 1);
  z-index: 1;
  animation: fadein 2s linear both;
  font-family: 'Do Hyeon', sans-serif;
}
.title-section b {
  display: block;
  position: relative;
  font-size: 2.8vw;
}
.title-section b::after {
  position: absolute;
  content: '';
  top: -3rem;
  left: -1rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f06d02;
}
.title-section span {
  position: absolute;
  bottom: 5%;
  left: 10%;
  transform: translateX(-50%);
  font-size: 8rem;
  color: #fff;
  animation: moving .5s cubic-bezier(0.63, -0.1, 1, 0.44) infinite alternate-reverse;
}

@keyframes moving {
  0% { transform: translateY(-2rem); }
  100% { transform: translateY(0rem); }
}

/* section-1 */
.section-1 {
  padding: 20rem 10%;
  padding-left: 50%;
  height: 100%;
}
.section-1 p {
    font-size: 2rem;
    line-height: 1.5;
    color: #e0e0e0;
}

/* section-2 */
.section-2 {
  padding: 20rem 5% 0;
  padding-left: 60%;
  height: 100%;
}
.section-2 .history-wrap {
  width: 100%;
  border-left: 1px solid #ffffff2e;
}
.section-2 .history-wrap li {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  line-height: 1.5;
  margin-bottom: 10rem;
}
.section-2 .history-wrap li:nth-last-of-type(1) {
  margin-bottom: 0;
}
.section-2 .history-wrap li > span {
  display: inline-block;
  position: absolute;
  top: 16px;
  left: -7px;
  width: 14px;
  height: 14px;
  background: #f06d02;
  border-radius: 50%;
}
.section-2 .history-wrap li h3 {
  margin-left: -90px;
  width: 100%;
  font-size: 3rem;
  color: #f06d02;
}
.section-2 .history-wrap li .history-list {
  display: flex;
  width: 100%;
  margin-bottom: 5rem;
}
.section-2 .history-wrap li .history-list .circle {
  position: relative;
}
.section-2 .history-wrap li .history-list .circle span{
  display: inline-block;
  position: absolute;
  top: 8px;
  left: -3px;
  width: 6px;
  height: 6px;
  background: #ffffff;
  border-radius: 50%;
}
.section-2 .history-wrap li .history-list .circle h4 {
  margin: 0 1rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: normal;
  color: #ffffff80;
}
.section-2 .history-wrap li .history-list .article p {
  font-size: 1.6rem;
  font-weight: 300;
  color: #fff;
}

/* section-3 */
.section-3 {
  padding: 4rem 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  overflow: hidden;
}
.section-3 .section-items {
  padding: 2rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200%;
	flex-wrap: nowrap;
	height: 100%;
	animation: bannermove 21s linear infinite;
}
.section-3 .section-items-2 {
	animation: bannermove2 21s linear infinite reverse;

}
@keyframes bannermove {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-50%, 0);
	}
}
@keyframes bannermove2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-50%, 0);
	}
}

.section-3 .section-items li {
  margin: 0 1rem;
  width: 250px;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 2px 2px 7px #363535;
}
.section-3 .section-items li img {
  width: 100%;
}

/* section-4 */
.section-4 {
  padding: 10rem;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);

}
.section-4 h3 {
  padding: 2rem 0;
  font-size: 2.4rem;
  color: #fff;
  text-align: center;
}
.section-4 .root_daum_roughmap_landing {
  /* display: flex; */
  width: 80%;
  margin: 0 auto;
}
.section-4 .root_daum_roughmap .wrap_map {
  /* height: 400px; */
  width: 100%;
}



/* ################## view ports ################### */


/*  1366 이하 */
@media (max-width: 1366px) {
	/* section-2 */
	.section-3 .section-items {
		width: 250%;
	}
}
/* 1024px 이하 */
@media (max-width: 1024px) {
  .title-section b {
    font-size: 4vw;
  }
  .section-1 p {
    font-size: 1.6rem;
  }

}
/* 768px 이하 */
@media (max-width: 768px) {
  .section-1 {
    padding: 10rem 10%;
    padding-left: 10%;
    background: rgba(18, 18, 18, 0.3);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
  }
  .section-2 {
    padding: 10rem 10%;
    padding-left: 20%;
    background: rgba(18, 18, 18, 0.3);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
  }
	.section-3 .section-items {
		width: 450%;
	}
  .section-4 {
    padding: 5rem;
  }
  .section-4 .root_daum_roughmap_landing {
    width: 100%;
  }
}
/* 460px 이하 */
@media (max-width: 460px) {
  .title-section h3 {
    font-size: 3rem;
  }
  .title-section b {
    font-size: 3rem;
  }
  .title-section b::after {
    position: absolute;
    content: '';
    top: -3rem;
    left: -1rem;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #f06d02;
  }

  .section-1 p {
    font-size: 1.4rem;
  }

  .section-2 {
    padding-left: 10%;
  }
  .section-2 .history-wrap li h3 {
    margin-left: 1rem;
  }
  .section-2 .history-wrap li .history-list .article p {
    font-size: 1.4rem;
  }
  
  .section-3 .section-items {
		width: 900%;
	}
  .section-4 {
    padding: 2rem;
  }


}

/* @@@@@@@@@@@@@@@@@@@ view ports @@@@@@@@@@@@@@@@@@@ */