@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#slider {
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden;
}
#slider img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: view 10s linear both;
}
@keyframes view {
  0% { transform: scale(1.5);}
  100% { transform: scale(1);}
}
#overflow {
  position: absolute;
  top: 0;
  width: 100%;
  background: #121212;
  opacity: 0;
}


.title-section h3 {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  letter-spacing: -.2rem;
  font-size: 7rem;
  color: rgba(255, 255, 255, 1);
  z-index: 1;
  animation: fadein 2s linear both;
  font-family: 'Do Hyeon', sans-serif;
}
.title-section b {
  display: block;
  position: relative;
  font-size: 4rem;
}
.title-section b::after {
  position: absolute;
  content: '';
  top: -3rem;
  left: -1rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f06d02;
}
.title-section span {
  position: absolute;
  bottom: 5%;
  left: 10%;
  transform: translateX(-50%);
  font-size: 8rem;
  color: #fff;
  animation: moving .5s cubic-bezier(0.63, -0.1, 1, 0.44) infinite alternate-reverse;
}


@keyframes moving {
  0% { transform: translateY(-2rem); }
  100% { transform: translateY(0rem); }
}

.contents {
  padding: 20rem 10%;
}
.contents .contents-list{
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}
.contents .contents-list a {
  padding: 0rem 2rem;
  margin-right:.3rem;
  line-height: 2;
  border: 1px solid #555;
  border-radius: 3rem;
  font-size: 1.6rem;
  color: #555;
}
.contents .contents-items-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.contents .contents-items-wrap .content-item {
  display: flex;
  flex-wrap: wrap;
  padding: 2.5rem 1.5rem;
  width: 280px;
  height: 200px;
  /* border: 1px solid #000; */
  border-radius: 1.5rem;
  font-size: 1.6rem;
  background: linear-gradient(0deg, #222 -20%, #131313);

}
.contents .contents-items-wrap .content-item div:not(.item-title) {
  width: 80%;
  font-size: 1.6rem;
  letter-spacing: -1px;
  color: #666;
}
.contents .contents-items-wrap .content-item span {
  display: block;
  width: 20%;
  font-size: 1.6rem;
  color: #666;
}
.contents .contents-items-wrap .item-title {
  width: 100%;
  font-size: 2.8rem;
  color: #f8ebdc;
}
.contents .paging {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
.contents .paging a {
  padding: 0 1rem;
  line-height: 2;
  font-size: 1.6rem;
  color: #555;
}
.contents .paging a:hover {
  color: #f06d02;
}
.clicked {
	background-color: #f06d02;
}
