<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/request/request_password.css}">
<style>
	table, th, tr, td {border: 1px solid black; border-collapse: collapse;}
</style>
</head>
<body>
	<h1>비밀글로 보호된 글이므로 설정하신 비밀번호를 입력하세요.</h1>
	<input type="hidden" id="seq" th:value="${seq}">
	<input type="password" id="password">
	<input type="button" id="confirmBtn" value="확인"> 
<script defer th:src="@{/js/request/request_password.js}"></script>
</body>
</html>