<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>아이티팩토리</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/notice_request.css}">
</head>
<body>
	<th:block th:replace="~{layouts/header :: header}"></th:block>
	<div class="container">
		<section class="title-section">
			<h3><b>문의사항</b><br> 아이티팩토리는<br>항상 고객의 입장에서 생각합니다 </h3>
			<img th:src="@{/images/notice/customers.jpg}" alt="background-images">
		</section>
		<section class="contents regist-wrap">
			<div class="regist">
				<input type="text" id="name" placeholder="이름">
				<input type="email" id="email" placeholder="이메일">
				<input type="text" id="phone" placeholder="연락처">
				<input type="text" id="position" placeholder="직책">
				<input type="text" id="detail" placeholder="내용">
				<input type="password" id="password" placeholder="비밀번호">
				<input type="file" id="file">
				<div class="personal-info">
					<h4>개인정보 수집, 이용 동의서</h4>
					<p>
						- 개인정보 수집, 이용 안내 -<br>
						고객상담, 제휴 제안 및 컨설팅 상담을 위해서는 아래와 같이 개인정보를 수집, 이용합니다.	<br>
						1. 개인정보 수집 목적: 고객상담, 제휴제안 안내를 전달 <br>
						2. 개인정보 수집 항목 : 이름, 이메일 , 연락처 , 직책 <br>
						3. 보유 및 이용기간 : 수집일로부터 1년 개인정보 관리 책임자를 통해 삭제를 요구할  수 있습니다. <br>
						* 위 개인정보 수집, 이용에 동의 합니다. ( * 필수 )
					</p>
				</div>
				<div id="loading">	
					<img th:src="@{/images/loading.gif}" />
					<span>등록중입니다..잠시만기다려주세요.</span>
				</div>
			</div>
			<input type="button" id="registBtn" value="동의하고 등록">
		</section>
	</div>
	<th:block th:replace="~{layouts/footer :: footer}"></th:block>
	<script defer th:src="@{/js/layouts/header.js}"></script>
<script defer th:src="@{/js/request/request_regist.js}"></script>
</body>
</html>