<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homepage.notice.mapper.NoticeMapper" >
	<select id="noticeListCnt" resultType="com.homepage.notice.vo.NoticeVO">
        SELECT 
        	COUNT(*) as cnt
        FROM NOTICE
    </select>
    
    <select id="noticeList" resultType="com.homepage.notice.entity.NoticeEntity">
        SELECT 
        	SEQ AS seq
        	,TITLE AS title
        	,CONTENTS AS contents
        	,CREATE_DT AS createDt
        FROM NOTICE
        ORDER BY SEQ DESC
        LIMIT #{pageStart}, #{perPageNum}
    </select>
    
    <insert id="regist" parameterType="com.homepage.notice.entity.NoticeEntity">
        INSERT INTO NOTICE
        (TITLE, CONTENTS, CREATE_DT)
        VALUES
        (#{title}, #{contents}, NOW())
    </insert>
    
    <select id="noticeDetail" resultType="com.homepage.notice.entity.NoticeEntity">
        SELECT 
        	SEQ AS seq
        	,TITLE AS title
        	,CONTENTS AS contents
        	,CREATE_DT AS createDt
        FROM NOTICE
        WHERE 1=1
        AND SEQ = #{seq}
    </select>
    
    <update id="notice_modify" parameterType="com.homepage.notice.entity.NoticeEntity">
        UPDATE NOTICE
        SET TITLE = #{title}
		,CONTENTS = #{contents}
		WHERE SEQ = #{seq}
    </update>
</mapper>