<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homepage.request.mapper.RequestMapper" >
	<select id="requestList" resultType="com.homepage.request.entity.RequestEntity">
        SELECT 
        	SEQ AS seq
        	,NAME AS name
        	,EMAIL AS email
        	,PHONE AS phone
        	,POSITION AS position
        	,DETAIL AS detail
        	,PASSWORD AS password
        	,FILE_NM AS fileNm
        	,ORG_FILE_NM AS orgFileNM
        	,FILE_PATH AS filePath
        	,CREATE_DT AS createDt
        FROM REQUEST
        ORDER BY SEQ DESC
        LIMIT #{pageStart}, #{perPageNum}
    </select>

	<insert id="regist" parameterType="com.homepage.request.entity.RequestEntity" useGeneratedKeys="true" keyProperty="seq" keyColumn="seq">
        INSERT INTO REQUEST
        (NAME, EMAIL, PHONE, POSITION, DETAIL, PASSWORD, CREATE_DT)
        VALUES
        (#{name}, #{email}, #{phone}, #{position}, #{detail}, #{password}, NOW())
    </insert>
    
    <select id="requestListCnt" resultType="com.homepage.request.vo.RequestVO">
        SELECT 
        	COUNT(*) AS cnt
        FROM REQUEST
    </select>
    
    <select id="passwordCheck" resultType="com.homepage.request.vo.RequestVO">
        SELECT 
        	COUNT(*) AS cnt
        FROM REQUEST
        WHERE 1=1
        AND SEQ = #{seq}
        AND PASSWORD = #{password}
    </select>
    
    <select id="requestDetail" resultType="com.homepage.request.entity.RequestEntity">
        SELECT 
        	SEQ AS seq
        	,NAME AS name
        	,EMAIL AS email
        	,PHONE AS phone
        	,POSITION AS position
        	,DETAIL AS detail
        	,PASSWORD AS password
        	,FILE_NM AS fileNm
        	,ORG_FILE_NM AS orgFileNm
        	,FILE_PATH AS filePath
        	,CREATE_DT AS createDt
        FROM REQUEST
        WHERE 1=1
        AND SEQ = #{seq}
    </select>
    
    <insert id="updateFile" parameterType="com.homepage.request.entity.RequestEntity">
        UPDATE REQUEST
        SET FILE_NM = #{fileNm}
		,ORG_FILE_NM = #{orgFileNm}
		,FILE_PATH = #{filePath}
		WHERE SEQ = #{seq}
    </insert>
</mapper>