<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body th:fragment="footer">
  <div class="footer">
    <h3>(주) 아이티팩토리</h3>
    <div class="txt-group txt-group-left">
      <p>대표이사 : 김태현</p>
      <p>사업자등록번호 : 803-86-01509</p>
      <p>대구광역시 중구 공평로 26-20, 2층</p>
      <span>Copyright 2023 www.it-factory.co.kr. All Rights Reserved.</span>
    </div>
    <div class="txt-group txt-group-right">
      <p>전화 : 053-743-0709</p>
      <p>팩스 : 053-746-0709</p>
      <p>itfactory@it-factory.co.kr</p>
    </div>
  </div>
</body>

</html>