<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body th:fragment="header">
    <div class="header">
        <a class="logo" th:href="@{/}">
            <img th:src="@{/images/ITFACTORY_logo_1.png}" />
            <img th:src="@{/images/ITFACTORY_logo_2.png}" />
        </a>
        <nav class="nav">
            <ul class="main-depth">
                <li><a th:href="@{/about}">회사소개</a>
                    <!-- <ul class="sub-depth">
                        <li><a th:href="@{/about}">인사말</a></li>
                        <li><a th:href="@{/come}">오시는 길</a></li>
                    </ul> -->
                </li>
                <li><a>플랫폼</a>
                    <ul class="sub-depth">
                        <li><a th:href="@{/khaccp}">K-HACCP</a></li>
                        <li><a th:href="@{/smarthaccp}">스마트 K-HACCP</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/performance?part=0&page=1&slide=no}">주요실적</a>
                </li>
                <li><a th:href="@{/notice?page=1}">고객센터</a>
                    <ul class="sub-depth">
                        <li><a th:href="@{/notice?page=1}">공지사항</a></li>
                        <li><a th:href="@{/request?page=1}">문의사항</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <nav class="mobile-nav">
            <div class="hamburger-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="m-main-depth">
                <li><div class="close-btn">
                    <span></span>
                    <span></span>
                </div></li>
                <li><a th:href="@{/about}">회사소개</a>
                    <!-- <ul class="m-sub-depth">
                        <li><a th:href="@{/about}">인사말</a></li>
                        <li><a th:href="@{/come}">오시는 길</a></li>
                        <li><a href="">인증서</a></li>
                        <li><a href="">연혁</a></li>
                    </ul> -->
                </li>
                <li class="m-depth"><a>플랫폼</a>
                    <ul class="m-sub-depth">
                        <li><a th:href="@{/khaccp}">K-HACCP</a></li>
                        <li><a th:href="@{/smarthaccp}">스마트 HACCP</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/performance?part=0&page=1&slide=no}">주요실적</a>
                </li>
                <li class="m-depth"><a>고객센터</a>
                    <ul class="m-sub-depth">
                        <li><a th:href="@{/notice?page=1}">공지사항</a></li>
                        <li><a th:href="@{/request?page=1}">문의사항</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="bg-wrap"></div>
    </div>
</body>
</html>