
table, th, tr, td { 
	font-size: 1.6rem; 
	color: #fff;
	cursor: pointer;
}
input:focus {outline:none;}

.container {
	display: flex;
	width: 100%;
	height: 100vh;
	background: #091333;
}

.container section {
	position: relative;
	width: 50%;
	height: 100%;
	overflow: hidden;
}

.container .title-section h3 {
	position: absolute;
	top: 50%;
	left: 10%;
	transform: translateY(-50%);
	letter-spacing: -.2rem;
	font-size: 2.8vw;
	color: rgba(255, 255, 255, 1);
	z-index: 1;
	animation: fadein 2s linear both;
	font-family: 'Do Hyeon', sans-serif;
}
.container  .title-section b {
	display: block;
	position: relative;
	margin-bottom: 10rem;
	font-size: 3vw;
}
.container  .title-section b::after {
	position: absolute;
	content: '';
	top: -3rem;
	left: -1rem;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #f06d02;
}
.container  .title-section img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* animation: view 10s linear both; */
}
/* @keyframes view {
	0% { transform: scale(1.5);}
	100% { transform: scale(1);}
} */
.container .contents {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10rem 1.5rem 5rem;
	width: 50%;
	height: 100%;
}
/* .container .contents input[type='button'] {
	margin: 5rem 2rem 1rem auto;
	width: 100px;
	line-height: 2;
	font-size: 1.8rem;
	border-style: none;
	border: 1px solid #e0e0e0;
	border-radius: 3rem;
	color: #e0e0e0;
	background: none;
	cursor: pointer;
} */
.container .contents input[type='button'] {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	width: 95%;
	line-height: 2.5;
	font-weight: bold;
	font-size: 1.8rem;
	border-style: none;
	border-radius: 3rem;
	color: #091333;
	background: #b2b4ca;
	cursor: pointer;
	transition: box-shadow 0.3s ease-in-out;
}
.container .contents input[type='button']:hover {
	box-shadow: inset 0px 0px 0px 50px #f06d02;
}
.container .contents table {
	width: 100%;
}
.container .contents table td {
	padding: 0 2rem;
	height: 12vh;
	border-bottom: 2px solid #ffffff18;
	border-collapse: collapse; 
	transition: .3s cubic-bezier(0.42, 0, 0.15, 0.84);
}
.container .contents table tr {
	transition:.3s cubic-bezier(0.42, 0, 0.15, 0.84);
}
.container .contents table tr:hover td {
	border-bottom: 2px solid #f06d02;
}
.container .contents table tr:hover .notice-title {
	transform: translateX(2rem);
}
.container .contents table .notice-title {
	font-size: 2.5rem;
	width: 65%;
}
.container .contents table .notice-date {
	text-align: right;
	font-size: 1.6rem;
	font-weight: bold;
	color: #57576e;
}

.container .contents .paging {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 4rem;
}
.container .contents .paging a {
	padding: 0 1rem;
	line-height: 2;
	font-size: 1.6rem;
	color: #e0e0e0;
}
.container .contents .paging a:hover {
	color: #f06d02;
}

.on {
	color: #f06d02 !important;
}


/* ################## notice style ################### */


/* notice-detail 공지사항 내용 */
.container .contents .d-notice-title {
	padding: 2rem 4rem 4rem;
	font-size: 4rem;
	color: #fff;
	border-bottom: 3px solid #f06d02;
}
.container .contents .contents-wrap {
    display: flex;
    flex-direction: column;
	height: 100%;
}
.container .contents .contents-wrap .notice-contents {
	padding: 4rem;
	font-size: 1.6rem;
	line-height: 1.5;
	color: #fff;
}

.container .contents .contents-wrap .notice-contents p, 
.notice-contents p span {
	font-size: 1.6rem;
	line-height: 1.5;
	color: #fff;
}
.container .contents .contents-wrap .notice-modify {
    position: unset;
    transform: translateX(0);
	display: block;
    align-self: flex-end;
	margin: 1rem 1rem 0;
	width: 100px;
	line-height: 2;
	font-size: 1.6rem;
	font-weight: bold;
	border-style: none;
    border: 2px solid #ddd;
	border-radius: 3rem;
	color: #ddd;
	background: transparent;
	cursor: pointer;
}
.container .contents .notice-list {
	margin: 1rem auto 0;
	width: 100px;
	line-height: 2;
	font-size: 1.8rem;
	border-style: none;
	border: 1px solid #e0e0e0;
	border-radius: 3rem;
	color: #e0e0e0;
	background: none;
	cursor: pointer;
}


/* ################## request style ################### */


/* request-password  문의글 비밀번호 입력 페이지 */
.container .password-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    align-self: center;
}
.container .password-wrap  h1 {
    margin: 20rem 0  10rem;
	width: 100%;
	text-align: center;
	font-size: 3rem;
	color: #fefefe;
}
.container #password {
    width: 200px;
    padding: 0 2rem;
	line-height: 2.5;
	font-size: 2rem;
	border-radius: 3rem;
}
.container #confirmBtn {
    width: 100px;
    position: unset;
    transform: translateX(0%);
	margin: 0 1rem;
	line-height: 2.5;
	font-size: 2rem;
	color: #e0e0e0;
	border-style: none;
	border-radius: 3rem;
	border: 2px solid #e0e0e0;
	background: transparent;
	cursor: pointer;
}
.container #confirmBtn:hover {
	border: 2px solid #f06d02;
	color: #f06d02;
    box-shadow: none;
}


/* request-regist 문의 작성 페이지 */
.container .regist-wrap {
    display: flex;
    justify-content: center;
    padding: 10rem 2rem 5rem;
}
.container .regist-wrap .regist {
    display: flex;
    padding: 2rem;
    align-items: center;
    flex-direction: column;
    height: 90%;
    border-radius: 3rem;
    background: linear-gradient(45deg, #fff,#ffffffad);
}
.container .regist #name, .container .regist #email,
.container .regist #phone,.container .regist #position,
.container .regist #detail,.container .regist #file,
.container .regist #password {
    padding: .5rem 2rem;
    width: 100%;
    line-height: 2.5;
    font-size: 2rem;
    border-style: none;
    border-radius: 0;
    border-bottom: 1px solid #0913330f;
    background: transparent;
}
.container .regist #file {
    font-size: 1.4rem;
    border-bottom: none;
}
.container .regist #loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    opacity: 0.6;
    background: #e4e4e4;
    z-index: 99;
    text-align: center;
}
.container .regist #loading > img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
}
.container .regist #loading > span {
    position: absolute;
    top: 57%;
    left: 43%;
    z-index: 101;
}

/* request-deatail 문의글 내용(관리자 로그인) */
.container .request-detail-wrap {
	padding: 10rem 4rem 5rem;
}
.container .request-detail-wrap table th {
	padding: 0 2rem;
	width: 15%;
	text-align: left;
	font-size: 2rem;
	color: #ddd;
	border-bottom: 2px solid #ffffff6c;
}
.container .request-detail-wrap table td {
	height: 10vh;
	line-height: 10vh;
	font-size: 2rem;
}
.container .request-detail-wrap table #downFile {
	border-bottom: 0;
	display: inline-block;
}




/* ################## view ports ################### */

/* 1366px 이하 */
@media (max-width: 1366px) {
	.container .contents table .notice-title {
		width: 65%;
		line-height: 2;
		font-size: 2rem;
	}
	.container .contents table .notice-date {
		line-height: 2;
	}
	.container .contents .paging {
		flex-wrap: wrap;
	}
	/* 공지 디테일 */
	.container .contents .d-notice-title {
		font-size: 3vw;
	}
	/* 문의사항 비밀글 */
	.container #password {
		width: 12vw;
		line-height: 2;
	}
	/* 문의사항 디테일 */
	.container .request-detail-wrap table th {
		width: 10vw;
	}

}
/* 1024px 이하 */
@media (max-width: 1024px) {

	/* 문의사항 비밀글 */
	.container .password-wrap {
		width: 80%;
	}
	.container .password-wrap h1 {
		margin: 10rem 0;
		font-size: 2.6rem;
	}
	.container #password, .container #confirmBtn {
		margin-bottom: 5rem;
		line-height: 2.5;
		font-size: 1.8rem;
	}
	.container #password {
		width: 10vw;
		line-height: 2;
	}
}
/* 768px 이하 */
@media (max-width: 768px) {
	.container {
		flex-direction: column;
		height: 100%;
	}
	.container section {
		width: 100%;
	}
	.container .contents {
		padding: 5rem 1.5rem;
		width: 100%;
	}
	.container .contents input[type="button"] {
		bottom: 1rem;
	}
	.container .contents table td {
		height: 7vh;
	}
	.container .contents .paging {
		margin: 2rem 0;
	}
	/* 문의사항 비밀글 */
	.container .password-wrap {
		width: 80%;
	}
	/* 문의사항 글쓰기 */
	.container .regist-wrap .regist {
		margin-bottom: 4rem;
	}
}
/* 460px 이하 */
@media (max-width: 460px) {
	.container .contents {
		padding: 2rem 1.5rem 5rem;
	}
	.container .contents table {
		margin-bottom: 4rem;
	}
	.container .title-section {
		height: 300px;
	}
	.container .title-section h3 {
		transform: translateY(0);
		font-size: 2rem;
	}
	.container .title-section b {
		font-size: 2rem;
		margin-bottom: 2.4rem;
	}
	.container .title-section b::after {
		position: absolute;
		content: '';
		top: -3rem;
		left: -1rem;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: #f06d02;
	}
	.container .contents table td:nth-of-type(even) {
		padding-right: 0;
	}
	.container .contents table .notice-title {
		font-size: 1.6rem;
	}
	.container .contents table .notice-date {
		line-height: 1.5;
		font-weight: normal;
		font-size: 1.2rem;
	}
	.container .contents .paging {
		flex-wrap: wrap;
	}
	.container .contents input[type="button"] {
		bottom: 1rem;
	}

	/* 공지 디테일 */
	.container .contents .d-notice-title {
		padding: 2rem;
		font-size: 2.2rem;
	}
	.container .contents .contents-wrap {
		margin-bottom: 4rem;
	}
	.container .contents .contents-wrap .notice-contents {
		padding: 2rem;
	}

	/* 문의사항 글작성 */
	.container .regist-wrap .regist {
		margin-bottom: 2rem;
	}
	.container .regist #name, .container .regist #email, 
	.container .regist #phone, .container .regist #position, 
	.container .regist #detail, .container .regist #file, 
	.container .regist #password {
		font-size: 1.6rem;
	}
	
	/* 문의사항 비밀글 */
	.container .password-wrap {
		width: 90%;
	}
	.container .password-wrap h1 {
		margin: 10rem 0 5rem;
		font-size: 2.2rem;
	}
	.container #password, .container #confirmBtn {
		margin-bottom: 5rem;
		line-height: 2;
		font-size: 1.6rem;
	}
	.container #password {
		width: 20vw;
	}
	/* 문의사항 디테일 */
	.container .request-detail-wrap table td {
		height: 7vh;
		line-height: 7vh;
		font-size: 1.6rem;
	}
	.container .request-detail-wrap table th {
		width: 70px;
		font-size: 1.6rem;
	}
}


/* @@@@@@@@@@@@@@@@@@@ view ports @@@@@@@@@@@@@@@@@@@ */