@import url(../css/default.css);
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

/*  ################## read me ###################

💛 가능한 클래스명을 사용하며 하위레벨의 네이밍시 - 를 사용합니다.
💛 속성은 한 줄에 하나씩 적습니다.
💛 여백 및 글꼴의 크기는 rem, 또는 em을 사용합니다.

💚 layouts는 style.css에서 적용합니다!

@@@@@@@@@@@@@@@@@@@ read me @@@@@@@@@@@@@@@@@@@ */


/*  전체 적용 스타일  */
* { font-size: 62.5%;}
html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
	/* overflow-x: hidden; */
}
a {
    display: block;
	text-decoration: none;
	color: #333;
}



/* ################## layouts ################### */

/** header **/
.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    line-height: 70px;
    box-sizing: border-box;
    background: transparent;
    transition: .3s ease-in-out;
    z-index: 999;
}
.header.scrollDown { 
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 5px rgba(139, 139, 139, 0.2);
}
.header.scrollDown a { 
    color: #333;
}
.header.scrollDown .logo img:nth-of-type(1) {
    opacity: 1;
}
.header.scrollDown .logo img:nth-of-type(2) {
    opacity: 0;
}
.header.scrollDown .mobile-nav .hamburger-btn span {
    background: #333;
}
.header:hover {
    background: rgba(255, 255, 255, 1);
    transition:  background .3s ease-in-out;
}
.header:hover a {
    color: #333;
}
.header .logo {
    position: relative;
    width: 250px;
    top: 1.5rem;
    margin-left: 10rem;
}
.header .logo img {
    position: absolute;
    transition: 0.3s ease-in-out;
}
.header .logo img:nth-of-type(1) {
    opacity: 0;
}
.header:hover .logo img:nth-of-type(1) {
    opacity: 1;
}
.header:hover .logo img:nth-of-type(2) {
    opacity: 0;
}
.nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.nav li { 
    display: inline-block; 
}
.nav a { 
    font-size: 1.8rem; 
}
.nav .main-depth {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-right: 10vw; 
}
.main-depth > li > a {
    position: relative;
    padding: 0 2rem;
    font-weight: 500;
    color: #fff;
}
.nav .main-depth > li > a::after {
    position: absolute;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 0;
    height: 3px;
    background: #F57E25;
    transition: .2s ease;
}
.nav .main-depth > li:hover > a::after {
    width: 100%;
}
.nav .main-depth > li:hover .sub-depth {
    display: block;
}

.nav .sub-depth {
    position: absolute;
    content: '';
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: none;
    transition: .3s ease-in-out;
}
.nav .sub-depth li, .sub-depth li a {
    height: 40px;
    line-height: 40px;
}
.nav .sub-depth li a {
    transform: translateX(-50%);
    padding: 0 2rem;
    font-size: 1.6rem;
}
.nav .sub-depth li a:hover {
    color:#F57E25;
}

/* mobile-nav */
.mobile-nav {
    display: none;
}


.bg-wrap {
    position: absolute;
    width: 100%;
    top: 70px;
    left: 0;
    height: 40px;
    background: rgba(255,255,255,1);
    border-top: 1px solid rgba(207, 207, 207, 0.5);
    box-shadow: 0 2px 2px rgba(139, 139, 139, 0.2);
    z-index: -1;
    transition: 0.3s ease-in-out;
    display: none;
}


/** footer **/
.footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 5rem 15% 5rem 15%;
    width: 100%;
    height: 250px;
    background: #dfdfdf;
}
.footer h3 {
    width: 200px;
    font-size: 2rem;
    color: #6f6f6f;
    border-right: 1px solid #afafaf;
}
.footer .txt-group {
    width: 35%;
}
.footer .txt-group p {
    line-height: 2.5rem;
    font-size: 1.6rem;
    color: #6f6f6f;
}
.footer span {
    position: absolute;
    bottom: 5rem;
    padding: .5rem 1rem;
    font-size: 1.6rem;
    color: #afafaf;
    border-radius: 30px;
}

/* @@@@@@@@@@@@@@@@@@@ layouts @@@@@@@@@@@@@@@@@@@ */




/* ################## view ports ################### */

/* 10366px 이하 */
@media (max-width: 1366px) {
    /* header */
    .header .logo {
        width: 180px;
        margin-left: 4vw;
    }
    .header:hover .mobile-nav .hamburger-btn span {
        background: #333;
    }
    .nav { 
        display: none;
    }
    .mobile-nav {
        display: block;
    }
    .mobile-nav .hamburger-btn {
        position: fixed;
        right: 0;
        padding: 2rem;
        width: 70px;
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
        /* z-index: 999; */
    }
    .mobile-nav .hamburger-btn span {
        width: 30px;
        height: 1.2px;
        border-radius: 2px;
        background: #fff;
    }
    .mobile-nav .m-main-depth {
        position: relative;
        top: 0;
        padding: 0 2rem;
        width: 300px;
        height: 100vh;
        background: #fff;
        z-index: 99;
        box-shadow: -2px 0 5px #00000018;
        /* display: none; */
        right: -100%;
        transition: .5s cubic-bezier(0, 0.65, 0.58, 1);
    }
    .slide {
        right: 0% !important;
    }
    .mobile-nav .m-main-depth .close-btn {
        position: relative;
        left: -2rem;
        padding: 20px;
        width: 70px;
        height: 70px;
        cursor: pointer;
    }
    .mobile-nav .m-main-depth .close-btn span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 1.2px;
        border-radius: 2px;
        background: #333;
        transform: translate(-50%,-50%) rotate(45deg);
    }
    .mobile-nav .m-main-depth .close-btn span:nth-of-type(2) {
        transform: translate(-50%,-50%) rotate(-45deg);
    }
    .mobile-nav .m-main-depth > li > a {
        position: relative;
        display: inline-block;
        padding: 0 .5rem;
        font-weight: bold;
        font-size: 2rem;
        cursor: pointer;
    }
    .mobile-nav .m-main-depth > li > a::after {
        position: absolute;
        content: '';
        left: 0%;
        bottom: 0;
        width: 0;
        height: 3px;
        background: #F57E25;
        transition: .2s ease;
    }
    .mobile-nav .m-main-depth > li.active > a::after {
        width: 100%;
    }
    .mobile-nav .m-sub-depth {
        height: 0;
        overflow: hidden;
        transition: .5s cubic-bezier(0, 0.65, 0.58, 1);
        /* display: none; */
    }

    .mobile-nav .m-sub-depth li a {
        padding: 0 2rem;
        line-height: 2.5;
        font-size: 1.6rem;
    }
    .mobile-nav .m-sub-depth li a:hover {
        color: #F57E25;
    }
    .mobile-nav .m-sub-depth.active {
        /* display: block !important; */
        height: 70px;
    }
}

/* 1024이하 */
@media (max-width: 1024px) {
    /* footer */
    .footer {
        justify-content: space-between;
        padding: 5rem 5% 5rem 5%;
        width: 100%;
        height: 250px;
        background: #dfdfdf;
    }
    .footer h3 {
        width: 180px;
        font-size: 2rem;
        color: #6f6f6f;
        border-right: 1px solid #afafaf;
    }
}

/* 768px 이하 */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        padding: 2rem 5% 4rem 5%;
        width: 100%;
        height: 250px;
        background: #dfdfdf;
    }
    .footer h3 {
        line-height: 2;
        border-right: none;
    }
    .footer .txt-group {
        width: 100%;
    }
    .footer .txt-group p {
        padding-left: 1rem;
        line-height: 1.4;
    }
    .footer span {
        position: absolute;
        bottom: 0;
    }
}

/* 640px 이하 */
@media (max-width: 640px) {
    .mobile-nav .m-main-depth {
        position: relative;
        top: 0;
        padding: 0 2rem;
        width: 200px;
        height: 100vh;
        background: #fff;
        z-index: 99;
        box-shadow: -2px 0 5px #00000018;
        /* display: none; */
        right: -100%;
        transition: .5s cubic-bezier(0, 0.65, 0.58, 1);
    }
}
/* 460px 이하 */
@media (max-width: 460px) {

}


/* @@@@@@@@@@@@@@@@@@@ view ports @@@@@@@@@@@@@@@@@@@ */








/* 복사용 */
/* ################## view ports ################### */

/* 1024px 이하 */
@media (max-width: 1024px) {
}
/* 768px 이하 */
@media (max-width: 768px) {
}
/* 460px 이하 */
@media (max-width: 460px) {
}

/* @@@@@@@@@@@@@@@@@@@ view ports @@@@@@@@@@@@@@@@@@@ */