<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <th:block th:replace="~{layouts/header :: header}"></th:block>
	<section id="slider" class="title-section">
		<h3><b> 아이</b><br> 아이티팩토리의 <br>주요실적을 확인해보세요 </h3>
		<img th:src="@{images/pages/performance/performance.jpg}" alt="background-images">
		<span><i class="xi-long-arrow-down"></i></span>
	</section>
</body>
</html>