<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이티팩토리</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/pages/about.css}">
    <link rel="stylesheet" th:href="@{https://unpkg.com/aos@2.3.1/dist/aos.css}">
    <link rel="stylesheet" th:href="@{//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css}">
</head>
<body>
    <th:block th:replace="~{layouts/header :: header}"></th:block>
	<section id="slider" class="title-section">
		<h3><b> 인사말</b><br> 기업혁신의 <br>든든한 ICT파트너 </h3>
		<img th:src="@{images/pages/about/about2.jpg}" alt="background-images">
		<span><i class="xi-long-arrow-down"></i></span>
	</section>
    <div id="overflow">
        <section class="section-1">
            <p>(주)아이티팩토리는 기업의 혁신과 성장을 지원할 수 있는ERP, MES, POP, 모바일, 그룹웨어 등의 ICT솔루션과 서비스를 제공합니다. <br>
                과거 기업현장에서는 숙련된 작업자의 경험을 중심으로 무엇이 문제인지 알고 손쉽게 문제를 해결했습니다. <br>
                하지만 작업자의 고령화에 따라 숙련공들은 점점 줄어들어 문제가 발생할 때 제대로 대응하기가 점점 어려워 지고, 경쟁의 심화 및 제품의 라이프 사이클 역시 단축되고 있습니다. 이러한 이유로 기업현장은 보다 가볍고 유연한 관리체계와 생산성향상 등이 요구되고 있습니다. <br>
                이런 문제를 해결하기 위한 새로운 방안으로 부상하고 있는 것이 바로 ICT기술과 서비스를 바탕으로 하는 “스마트공장”, “스마트서비스”입니다. <br>
                (주)아이티팩토리는 대한민국의 대표 ICT기업 출신의 풍부한 경험과 경력을 갖춘 우수한 인력과 공공사업에 적용되는 “전자정부 표준프레임워크” 를 기반으로 개발된 안정적이고 혁신적인 ‘비즈니스토털솔루션(Business Total Solution)’을 제공하고 있습니다. <br>
                저희 (주)아이티팩토리는 중소벤처기업부 등 우리나라 정부에서 주관하는 『스마트공장 및 스마트서비스 정부지원사업』의 공급기업으로 등록되어 저렴한비용으로 다양한 업종과 요구사항을 충족시키는 차별화된 스마트공장을 구축, 지원하고 있습니다. <br>
                앞으로도 차별적인 최첨단ICT기술과 서비스를 바탕으로 기업의 경쟁력강화와 성장을 지원하는 든든한 파트너가 되도록 전 임직원이 최선을 다하겠습니다.</p>
        </section>
        <section class="section-2">
            <ul class="history-wrap">
                <li class="history-contents">
                    <span data-aos="fade-up" data-aos-duration="500" data-aos-offset="00" data-aos-delay="100"></span><h3 data-aos="fade-right" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="300">2023</h3>
                    <div class="history-list">
                        <div class="circle" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="500"><span ></span><h4>2023.3</h4></div>
                        <div class="article" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="600"><p>Inno-Biz 인증</p></div>
                    </div>
                    <div class="history-list">
                        <div class="circle" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="500"><span ></span><h4>2023.2</h4></div>
                        <div class="article" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="600"><p>Main-Biz 인증</p><p>[저작권등록] K-HACCP</p><p>[저작권등록] SMART K-HACCP</p></div>
                    </div>
                </li>
                <li class="history-contents">
                    <span data-aos="fade-up" data-aos-duration="500" data-aos-offset="00" data-aos-delay="100"></span><h3 data-aos="fade-right" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="300">2022</h3>
                    <div class="history-list">
                        <div class="circle" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="500"><span></span><h4>2022.12</h4></div>
                        <div class="article" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="600"><p>ISO 9001 인증</p><p>[상표 출원] K-HACCP 상표</p></div>
                    </div>
                    <div class="history-list">
                        <div class="circle" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="500"><span></span><h4>2022.11</h4></div>
                        <div class="article" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="600"><p>K-HACCP 사후관리 플랫폼 출시</p></div>
                    </div>
                    <div class="history-list">
                        <div class="circle" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="500"><span></span><h4>2022.07</h4></div>
                        <div class="article" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="600"><p>[특허 출원] HACCP 사후관리시스템</p><p>[특허 출원] 금속이물자동검사장치</p></div>
                    </div>
                    <div class="history-list">
                        <div class="circle" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="500"><span></span><h4>2022.04</h4></div>
                        <div class="article" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="600"><p>2022년 디지털기술기반 스타트업 육성사업 협약 체결</p></div>
                    </div>
                    <div class="history-list">
                        <div class="circle" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="500"><span></span><h4>2022.03</h4></div>
                        <div class="article" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="600"><p>창업성공패키지(청년창업사관학교) 사업화 지원 협약 체결</p></div>
                    </div>
                    <div class="history-list">
                        <div class="circle" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="500"><span></span><h4>2022.02</h4></div>
                        <div class="article" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="600"><p>대구창조경제혁신센터대구 TIPS IR데이 선정기업(투자가치 인증)</p></div>
                    </div>
                    <div class="history-list">
                        <div class="circle" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="500"><span></span><h4>2022.01</h4></div>
                        <div class="article" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="600"><p>AI빅데이터 바우처 지원사업 공급기업 선정</p><p>(빅데이터AI 식품전용 솔루션 연구개발)</p></div>
                    </div>
                </li>
                <li class="history-contents">
                    <span data-aos="fade-up" data-aos-duration="500" data-aos-offset="00" data-aos-delay="100"></span><h3 data-aos="fade-right" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="300">2021</h3>
                    <div class="history-list">
                        <div class="circle" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="500"><span></span><h4>2021.12</h4></div>
                        <div class="article" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="600"><p>S/W박람회 ‘소프트웨이브 2021’ 부스 참여기업</p></div>
                    </div>
                    <div class="history-list">
                        <div class="circle" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="500"><span></span><h4>2021.11</h4></div>
                        <div class="article" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="600">2021년 <p>대구스타트업리더스포럼선정기업</p><p>[특허 출원/등록] 단체급식 관리시스템 및 관리방법</p></div>
                    </div>
                    <div class="history-list">
                        <div class="circle" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="500"><span></span><h4>2021.10</h4></div>
                        <div class="article" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="600"><p>벤처기업 인증 및 선정</p></div>
                    </div>
                    <div class="history-list">
                        <div class="circle" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="500"><span></span><h4>2021.09</h4></div>
                        <div class="article" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="600"><p>스마트HACCP 통합관리/App ‘yummy’ 출시</p></div>
                    </div>
                    <div class="history-list">
                        <div class="circle" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="500"><span></span><h4>2021.06</h4></div>
                        <div class="article" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="600"><p>중소벤처기업부 성과공유기업 인증</p></div>
                    </div>
                    <div class="history-list">
                        <div class="circle" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="500"><span></span><h4>2021.05</h4></div>
                        <div class="article" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="600"><p>2021년 스마트공장 구축 지원사업 공급기업 참여</p><p>비대면고객관리 App ‘고무신’ 개발/공급</p><p>스마트팜확산사업 참여기업(공급기업) 선정</p></div>
                    </div>
                    <div class="history-list">
                        <div class="circle" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="500"><span></span><h4>2021.04</h4></div>
                        <div class="article" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="600"><p>[특허 등록] 스마트팜제어 서버 및 제어방법</p></div>
                    </div>
                </li>
                <li class="history-contents">
                    <span data-aos="fade-up" data-aos-duration="500" data-aos-offset="00" data-aos-delay="100"></span><h3 data-aos="fade-right" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="300">2020</h3>
                    <div class="history-list">
                        <div class="circle" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="500"><span></span><h4>2020.06</h4></div>
                        <div class="article" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="600"><p>[S/W저작권 출원/등록] 스마트 HACCP 플랫폼 시스템</p><p>[S/W저작권 출원/등록] API기반 스마트팩토리시스템</p></div>
                    </div>
                    <div class="history-list">
                        <div class="circle" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="500"><span></span><h4>2020.05</h4></div>
                        <div class="article" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="600"><p>기업부설연구소 인증</p><p>한국기업데이터㈜ 기술역량 우수기업 인증</p><p>2020년 스마트공장 구축 지원사업 공급기업 참여</p><p>비대면바우처사업공급기업 참여(약 300업체 공급)</p></div>
                    </div>
                </li>
                <li class="history-contents">
                    <span data-aos="fade-up" data-aos-duration="500" data-aos-offset="00" data-aos-delay="100"></span><h3 data-aos="fade-right" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="300">2019</h3>
                    <div class="history-list">
                        <div class="circle" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="500"><span></span><h4>2019.09</h4></div>
                        <div class="article" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="00" data-aos-delay="600"><p>㈜아이티팩토리 법인 설립</p> <p>스마트공장 제조 솔루션 개발</p><p>2019년 스마트공장 구축 지원사업 공급기업 참여</p></div>
                    </div>

                </li>
            </ul>
        </section>
        <section class="section-3">
            <ul class="section-items section-items-1">
                <li class="item-1">
                    <img th:src="@{/images/pages/about/img1-1.png}"/>
                </li>
                <li class="item-2">
                    <img th:src="@{/images/pages/about/img1-2.png}"/>
                </li>
                <li class="item-3">
                    <img th:src="@{/images/pages/about/img1-3.png}"/>
                </li>
                <li class="item-4">
                    <img th:src="@{/images/pages/about/img1-4.png}"/>
                </li>
                <li class="item-5">
                    <img th:src="@{/images/pages/about/img1-5.png}"/>
                </li>
                <li class="item-6">
                    <img th:src="@{/images/pages/about/img1-6.png}"/>
                </li>
                <li class="item-7">
                    <img th:src="@{/images/pages/about/img1-7.png}"/>
                </li>
                <li class="item-8">
                    <img th:src="@{/images/pages/about/img1-8.png}"/>
                </li>
                <!-- clone -->
                <li class="clone item-1">
                    <img th:src="@{/images/pages/about/img1-1.png}"/>
                </li>
                <li class="clone item-2">
                    <img th:src="@{/images/pages/about/img1-2.png}"/>
                </li>
                <li class="clone item-3">
                    <img th:src="@{/images/pages/about/img1-3.png}"/>
                </li>
                <li class="clone item-4">
                    <img th:src="@{/images/pages/about/img1-4.png}"/>
                </li>
                <li class="clone item-5">
                    <img th:src="@{/images/pages/about/img1-5.png}"/>
                </li>
                <li class="clone item-6">
                    <img th:src="@{/images/pages/about/img1-6.png}"/>
                </li>
                <li class="clone item-7">
                    <img th:src="@{/images/pages/about/img1-7.png}"/>
                </li>
                <li class="clone item-8">
                    <img th:src="@{/images/pages/about/img1-8.png}"/>
                </li>
            </ul>
            <ul class="section-items section-items-2">
                <li class="item-1">
                    <img th:src="@{/images/pages/about/img2-1.png}"/>
                </li>
                <li class="item-2">
                    <img th:src="@{/images/pages/about/img2-2.png}"/>
                </li>
                <li class="item-3">
                    <img th:src="@{/images/pages/about/img2-3.png}"/>
                </li>
                <li class="item-4">
                    <img th:src="@{/images/pages/about/img2-4.png}"/>
                </li>
                <li class="item-5">
                    <img th:src="@{/images/pages/about/img2-5.png}"/>
                </li>
                <li class="item-6">
                    <img th:src="@{/images/pages/about/img2-6.png}"/>
                </li>
                <li class="item-7">
                    <img th:src="@{/images/pages/about/img2-7.png}"/>
                </li>
                <li class="item-8">
                    <img th:src="@{/images/pages/about/img2-8.png}"/>
                </li>
                <li class="item-9">
                    <img th:src="@{/images/pages/about/img2-9.png}"/>
                </li>
                <!-- clone -->
                <li class="clone item-1">
                    <img th:src="@{/images/pages/about/img2-1.png}"/>
                </li>
                <li class="clone item-2">
                    <img th:src="@{/images/pages/about/img2-2.png}"/>
                </li>
                <li class="clone item-3">
                    <img th:src="@{/images/pages/about/img2-3.png}"/>
                </li>
                <li class="clone item-4">
                    <img th:src="@{/images/pages/about/img2-4.png}"/>
                </li>
                <li class="clone item-5">
                    <img th:src="@{/images/pages/about/img2-5.png}"/>
                </li>
                <li class="clone item-6">
                    <img th:src="@{/images/pages/about/img2-6.png}"/>
                </li>
                <li class="clone item-7">
                    <img th:src="@{/images/pages/about/img2-7.png}"/>
                </li>
                <li class="clone item-8">
                    <img th:src="@{/images/pages/about/img2-8.png}"/>
                </li>
                <li class="clone item-9">
                    <img th:src="@{/images/pages/about/img2-9.png}"/>
                </li>
            </ul>
        </section>
        <section class="section-4">
            <h3>오시는 길</h3>
            <div id="daumRoughmapContainer1676612472921" class="root_daum_roughmap root_daum_roughmap_landing"></div>
        </section>
        <th:block th:replace="~{layouts/footer :: footer}"></th:block>
    </div>
	<script defer th:src="@{/js/layouts/header.js}"></script>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
	<script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>
	<script charset="UTF-8">
		new daum.roughmap.Lander({
			"timestamp" : "1676612472921",
			"key" : "2ds54",
			// "mapWidth" : "640",
			// "mapHeight" : "450"
		}).render();
	</script>
    <script th:src="@{https://unpkg.com/aos@2.3.1/dist/aos.js}"></script>
	<script th:src="@{/js/pages/about.js}"></script>
	<script th:src="@{/js/pages/come.js}"></script>

</body>
</html>