<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이티팩토리</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/pages/come.css}">
    <link rel="stylesheet" th:href="@{//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css}">
</head>
<body>
	<th:block th:replace="~{layouts/header :: header}"></th:block>
	<div class="top-bg"></div>
	<section class="contents">
		<h3>Contact Us</h3>
		<div class="map-wrap">
			<div id="map2" class="map"></div>
			<div class="text-wrap">
				<h4>대구 아지트</h4>
				<p>
					주소: (41940) 대구광역시 중구 공평로 26-20 <br>
					T : 053-743-0709 <br>
					F : 053-746-0709
				</p>
			</div>
		</div>
		<div class="map-wrap">
			<div id="map" class="map"></div>
			<div class="text-wrap">
				<h4>광교 아지트</h4>
				<p>
					주소 : 수원시 영통구 광교중앙로 170  <br>
					T : 0502-0112-1000
				</p>
			</div>
		</div>
	</section>
	<th:block th:replace="~{layouts/footer :: footer}"></th:block>
	<script defer th:src="@{/js/layouts/header.js}"></script>
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{//dapi.kakao.com/v2/maps/sdk.js?appkey=	3640c1078b523a0c937d56487f1f0ec8}"></script>
	<!-- <script charset="UTF-8">

	</script> -->
	<script th:src="@{/js/pages/come.js}"></script>
</body>
</html>