<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>아이티팩토리</title>
  <link rel="stylesheet" th:href="@{/css/pages/k_haccp.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{https://unpkg.com/aos@2.3.1/dist/aos.css}">
  <link rel="stylesheet" th:href="@{//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css}">
  <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css}" />
</head>

<body>
  <th:block th:replace="~{layouts/header :: header}"></th:block>
  <section id="slider" class="title-section">
    <h3><b>K-HACCP</b><br> 해썹 관리, 어려움을 느꼈다면<br>사용해보세요 </h3>
    <img th:src="@{images/pages/k_haccp/k_haccp.jpg}" alt="background-images">
    <span><i class="xi-long-arrow-down"></i></span>
    <div class="direct-wrap">
      <div class="direct-btn">
        <a th:href="@{http://k-haccp.btsi.co.kr/haccp.do}">K-HACCP 바로가기</a>
      </div>
      <div class="direct-btn">
        <a id="appDown">앱 다운로드</a>
      </div>
    </div>
  </section>
  <div id="overflow">
  <!-- landing page start -->
  <!-- section01 start-->
  <div class="landing-pages-section-01">
    <div class="landing-pages-swiper-01">
      <div class="container">
        <div class="swiper-contrl">
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-stop"></div>
          <div class="swiper-button-start" style="display: none;"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="container">
            <div class="text-conts">
              <div class="line-0" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">해썹 관리의 모<i></i>든<i></i>
                것<i></i></div>
              <div class="line-1" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1500">K-HACCP 하나로 쉽고 빠르게
              </div>
            </div>
            <div class="img-conts animate-img">
              <!-- <img th:src="@{/images/main/Bulb.png}"/> -->
              <img th:src="@{images/pages/k_haccp/section01/Section1_mainbanner01_img.png}" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="container">
            <div class="text-conts">
              <div class="line-0" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">해썹 관리의 모<i></i>든<i></i>
                것<i></i></div>
              <div class="line-1" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1500">내손안의 비서 K-HACCP</div>
            </div>
            <div class="img-conts animate-img1">
              <img th:src="@{images/pages/k_haccp/section01/Section1_mainbanner02_01.gif}" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- section01 end-->
  <!-- section02 start-->
  <div class="landing-pages-section-02">
    <div class="container">
      <div class="text-conts">
        <div class="line-0" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
          <span>K-HACCP,</span><br>
          아직도 모르시나요?
        </div>
        <div class="line-1">
          <p data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">복잡하기만 했던 HACCP 인증.<br>
            관리 인력이 부족해 식약처에서 불시 점검을 나오더라도 <br>
            대응할 방법이 막연했던 분들께 K-HACCP을 제안드립니다.</p>
          <p data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
            이젠 모바일, PC로 간편하게 일지 작성부터 관리까지<br>
            사후관리의 니즈를 파악해 만든 검증된 솔루션으로<br>
            해썹 관리를 한 방에 해결할 수 있는 독보적인 플랫폼을 소개합니다.
          </p>
        </div>
      </div>
      <div class="img-conts" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1500">
        <img th:src="@{images/pages/k_haccp/section02/Section2_img.png}" />
      </div>
    </div>
  </div><!-- section02 end-->
  <!-- section03 수정 start-->
  <div class="landing-pages-section-03">
    <div class="container">
      <div class="hd">
        <div class="icon"><img th:src="@{images/pages/k_haccp/section03/Section3_icon.png}" /></div>
        <div class="title" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">어렵기만 했던 해썹 bye bye !</div>
        <div class="desc">
          <p data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000"><span>이젠, </span><b>휴대폰으로 해썹
              알람</b><span>받고</span></p>
          <p data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">터치 한 번으로 간편하게 일지관리를 시작해보세요!</p>
        </div>
      </div>
      <div class="bd">
        <div class="tab-bd" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
          <div class="tab-hd" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
            <div class="tab-btn active">어려운 HACCP관리</div>
          </div>
          <div class="wrapper">
            <div class="slide"><img
                th:src="@{images/pages/k_haccp/section03/Section3_slide_01/Section3_slide_01_img01.png}" /></div>
            <div class="slide"><img
                th:src="@{images/pages/k_haccp/section03/Section3_slide_01/Section3_slide_01_img02.png}" /></div>
            <div class="slide"><img
                th:src="@{images/pages/k_haccp/section03/Section3_slide_01/Section3_slide_01_img03.png}" /></div>
            <div class="slide"><img
                th:src="@{images/pages/k_haccp/section03/Section3_slide_01/Section3_slide_01_img04.png}" /></div>
          </div>
          <div class="tab-hd" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
            <div class="tab-btn">이렇게 바뀝니다!</div>
          </div>
          <div class="wrapper">
            <div class="slide"><img
                th:src="@{images/pages/k_haccp/section03/Section3_slide_02/Section3_slide_02_img01.png}" /></div>
            <div class="slide"><img
                th:src="@{images/pages/k_haccp/section03/Section3_slide_02/Section3_slide_02_img02.png}" /></div>
            <div class="slide"><img
                th:src="@{images/pages/k_haccp/section03/Section3_slide_02/Section3_slide_02_img03.png}" /></div>
            <div class="slide"><img
                th:src="@{images/pages/k_haccp/section03/Section3_slide_02/Section3_slide_02_img04.png}" /></div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- section03 수정 end-->
  <!-- section04 start-->
  <div class="landing-pages-section-04">
    <div class="landing-pages-section-04-radius">
      <div class="container">
        <div class="section-title" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">K-HACCP 서비스</div>
        <div class="landing-pages-section-04-swiper" style="width: 1200px;" data-aos="fade-up" data-aos-delay="0"
          data-aos-duration="1000">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="card">
                <div class="title">HACCP 일지 작성주기 알람</div>
                <div class="conts">
                  작성해야하는 일지에 대한 <br><b>알람을 미리 받아 언제, 어떤 일지를</b><br><b>작성해야 하는지</b> 알 수 있어요<br>
                </div>
                <div class="prev-btn">
                  <img th:src="@{images/pages/k_haccp/section04/Section4_left_arrow.png}" />
                </div>
                <div class="next-btn">
                  <img th:src="@{images/pages/k_haccp/section04/Section4_right_arrow.png}" />
                </div>
                <div class="img-conts">
                  <img th:src="@{images/pages/k_haccp/section04/Section4_icon01.png}" />
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <div class="title">작성 길잡이 제공</div>
                <div class="conts">
                  모든 HACCP 일지 <b>작성 방법과</b><br><b>맞춤형 가이드를 제공</b>해줘요
                </div>
                <div class="prev-btn">
                  <img th:src="@{images/pages/k_haccp/section04/Section4_left_arrow.png}" />
                </div>
                <div class="next-btn">
                  <img th:src="@{images/pages/k_haccp/section04/Section4_right_arrow.png}" />
                </div>
                <div class="img-conts">
                  <img th:src="@{images/pages/k_haccp/section04/Section4_icon02.png}" />
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <div class="title">선행요건일지</div>
                <div class="conts">
                  작업 시 선행되어야 하는<br>요건에 대한 <b>일지를</b><br><b>작성하고 관리</b>할 수 있어요 <br></div>
                <div class="prev-btn">
                  <img th:src="@{images/pages/k_haccp/section04/Section4_left_arrow.png}" />
                </div>
                <div class="next-btn">
                  <img th:src="@{images/pages/k_haccp/section04/Section4_right_arrow.png}" />
                </div>
                <div class="img-conts">
                  <img th:src="@{images/pages/k_haccp/section04/Section4_icon03.png}" />
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <div class="title">CCP일지</div>
                <div class="conts">모든 CCP일지를 작성하고<br>관리할 수 있어요</div>
                <div class="prev-btn">
                  <img th:src="@{images/pages/k_haccp/section04/Section4_left_arrow.png}" />
                </div>
                <div class="next-btn">
                  <img th:src="@{images/pages/k_haccp/section04/Section4_right_arrow.png}" />
                </div>
                <div class="img-conts">
                  <img th:src="@{images/pages/k_haccp/section04/Section4_icon04.png}" />
                </div>
              </div>
            </div>
            <!-- <div class="swiper-slide">
                            <div class="card">
                                <div class="title">원료수불부</div>
                                <div class="conts">원료 입고 및 사용, 제품 생산,<br>거래 기록서와 재고를 파악하고<br>관리할 수 있어요</div>
                                <div class="prev-btn">
                                    @{<img th:src="images/pages/k_haccp/section04/Section4_left_arrow.png">}
                                </div>
                                <div class="next-btn">
                                    @{<img th:src="images/pages/k_haccp/section04/Section4_right_arrow.png">}
                                </div>
                                <div class="img-conts">
                                    @{<img th:src="images/pages/k_haccp/section04/Section4_icon05.png">}
                                </div>
                            </div>
                        </div> -->
            <div class="swiper-slide">
              <div class="card">
                <div class="title">전자결재</div>
                <div class="conts">사용자는 결재를 등록하고<br>결재자는 결재함에 등록된<br>결재를 처리할 수 있어요</div>
                <div class="prev-btn">
                  <img th:src="@{images/pages/k_haccp/section04/Section4_left_arrow.png}" />
                </div>
                <div class="next-btn">
                  <img th:src="@{images/pages/k_haccp/section04/Section4_right_arrow.png}" />
                </div>
                <div class="img-conts">
                  <img th:src="@{images/pages/k_haccp/section04/Section4_icon06.png}" />
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <div class="title">기타일지</div>
                <div class="conts">HACCP일지, 보건증, 검교정,<br>교육훈련일지 등 회사에 필요한<br>서류를 첨부하거나 보관할 수 있어요</div>
                <div class="prev-btn">
                  <img th:src="@{images/pages/k_haccp/section04/Section4_left_arrow.png}" />
                </div>
                <div class="next-btn">
                  <img th:src="@{images/pages/k_haccp/section04/Section4_right_arrow.png}" />
                </div>
                <div class="img-conts">
                  <img th:src="@{images/pages/k_haccp/section04/Section4_icon07.png}" />
                </div>
              </div>
            </div>
            <!-- <div class="swiper-slide">
                            <div class="card">
                                <div class="title">전문행정사 일지검토 컨설팅 서비스</div>
                                <div class="conts">HACCP 전문행정사의  철저한<br>일지검토를 통해 안정적이면서 <br>더욱 효율적으로 관리할 수 있어요</div>
                                <div class="prev-btn">
                                    @{<img th:src="images/pages/k_haccp/section04/Section4_left_arrow.png">}
                                </div>
                                <div class="next-btn">
                                    @{<img th:src="images/pages/k_haccp/section04/Section4_right_arrow.png">}
                                </div>
                                <div class="img-conts">
                                    @{<img th:src="images/pages/k_haccp/section04/Section4_icon08.png">}
                                </div>
                            </div>
                        </div> -->
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div><!-- section04 end-->
  <!-- section05 start-->
  <div class="landing-pages-section-05">
    <div class="container">
      <div class="hd">
        <div class="title" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
          <span>체계적인 해썹 일지 관리 시스템</span><br>안심하고 사용하세요!
        </div>
      </div>
      <div class="bd">
        <div class="item" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
          <div class="icon"><img th:src="@{images/pages/k_haccp/section05/Section5_icon01.png}" /></div>
          <div class="title">특허 출원 완료</div>
          <div class="desc">유일무이한 독보적인 플랫폼</div>
        </div>
        <div class="item" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
          <div class="icon"><img th:src="@{images/pages/k_haccp/section05/Section5_icon02.png}" /></div>
          <div class="title">전문가 합작 설계</div>
          <div class="desc">400여개 업체의 해썹인증을<br>진행한 전문가와 합작</div>
        </div>
        <div class="item" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
          <div class="icon"><img th:src="@{images/pages/k_haccp/section05/Section5_icon03.png}" /></div>
          <div class="title">사후관리 완벽 솔루션</div>
          <div class="desc">해썹 관리에 대한 니즈를<br>완벽하게 반영한 솔루션</div>
        </div>
        <div class="item" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
          <div class="icon"><img th:src="@{images/pages/k_haccp/section05/Section5_icon04.png}" /></div>
          <div class="title">안전한 데이터 관리</div>
          <div class="desc">NHN 클라우드 데이터<br> 관리로 철저한 보안</div>
        </div>
      </div>
    </div>
  </div><!-- section05 end-->
  <!-- section06 start-->
  <div class="landing-pages-section-06">
    <div class="landing-pages-section-06-radius">
      <div class="container">
        <div class="hd">
          <div class="title" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">K-HACCP 이용 방법 </div>
        </div>
        <div class="bd">
          <div class="item">
            <div class="text-conts left">
              <div class="title" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">스케줄링 기능</div>
              <div class="sub-title" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">캘린더 & 오늘의 할 일
              </div>
              <div class="desc" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
                캘린더의 날짜를 터치 시 오늘의 할 일 화면에서 해당 <br>
                일자의 작성할 일지 목록이 나타납니다. 오늘의 할 일 <br>
                목록의 텍스트를 터치하면 해당 페이지로 이동합니다.<br>
                (일지 주기 관리 메뉴를 통해 캘린더에 표시할 수 있습니다.)
              </div>
            </div>
            <div class="img-conts right" data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000">
              <img th:src="@{images/pages/k_haccp/section06/Section6_img01.png}" />
            </div>
          </div>
          <div class="item">
            <div class="img-conts left" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
              <img th:src="@{images/pages/k_haccp/section06/Section6_img02.png}" />
            </div>
            <div class="text-conts right">
              <div class="title" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">기초등록 설정</div>
              <div class="sub-title" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">01) 결재함, 게시판 </div>
              <div class="desc" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
                <b>결재함:</b> 결재항목의 일자 및 관리 항목, 검토, 승인을 확인할<br>수 있습니다. <br>
                (결재의 승인/반려는 지정된 사용자만 가능합니다.)<br>
                <b>게시판:</b> 카테고리, 제목을 입력하여 게시글을 조회할 수 있습니다.<br>
              </div>
              <div class="sub-title" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">02) 설정관리, 일지주기관리,
                사용자관리, 결재선 관리</div>
              <div class="desc" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
                <b>· 설정관리/일지 주기 관리</b><br>
                &nbsp;&nbsp;일지 작성 알림 시간, 결재 업로드 시간, 생산 품목의 작업 시작·종료 <br>
                &nbsp;&nbsp;시간을 관리하고 작성 주기를 설정할 수 있습니다.<br>
                <br>
                <b>· 사용자관리:</b><br>
                &nbsp;&nbsp;사후관리 프로그램 사용자 목록 조회, 등록 및 정보 수정을<br>
                &nbsp;&nbsp;할 수 있습니다.<br>
                <br>
                <b>· 결재선 관리:</b> <br>
                &nbsp;&nbsp;일지의 검토자와 승인자를 지정하여 관리할 수 있습니다.<br>
              </div>
              <div class="sub-title" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">03) 품목등록, 원재료등록,
                거래처등록, 검교정 설비등록</div>
              <div class="desc" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
                생산되는 품목의 등록과, 원재료, 거래처 및 검교정 설비 등을 <br>등록할 수 있습니다.
              </div>
            </div>
          </div>
          <div class="item">
            <div class="text-conts left">
              <div class="title" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">HACCP 일지</div>
              <div class="sub-title" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">01) 일일일지, 주간일지,
                월간일지, 연간일지</div>
              <div class="desc" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
                각 메뉴 항목에서 일,주,월,년 별 일지를 작성해 등록하거나, <br>
                검토 및 승인 현황을 확인할 수 있습니다. 파일 첨부 <br>
                기능으로 이미지 자료 등을 보충할 수 있습니다.
              </div>
              <div class="sub-title" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">02) CCP 모니터링 및 일지
              </div>
              <div class="desc" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
                제품 생산시 작성해야하는 CCP 모니터링 일지를 등록할 수 있습니다. <br>
                메인화면의 생산 품목> <b>[생산] 을 터치</b>하면 금일 작성 CCP 목록에 생산 <br>
                품목이 등록됩니다. <b>[작업시작] 버튼 터치</b>시 작업이 시작됩니다. 생산 <br>
                수량을 입력하고 <b>[작업종료] 버튼을 터치</b>하면 생산 수량이 반영되며 <br>
                작업이 종료됩니다. 품목명을 터치하면 해당 모니터링 일지 페이지로 <br>
                이동되며 저장 후 결재 등록시 모니터링 내역이 반영됩니다.
              </div>
              <div class="sub-title" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">03) 기타일지, 교육훈련일지,
                육안검사일지, 검교정관리, 미생물검사</div>
              <div class="desc" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
                HACCP 일지 이외의 일지를 작성 · 등록하거나,<br>검토 및 승인 현황을 확인할 수 있습니다.<br>
              </div>
              <div class="sub-title" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">04) 보건증 조회 및 등록
              </div>
              <div class="desc" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
                각 사원 별 보건증의 유효기간과 이미지를 등록하고,<br>갱신 기한 알람을 설정해 간편하게 관리 할 수 있습니다.
              </div>
            </div>
            <div class="img-conts right" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
              <img th:src="@{images/pages/k_haccp/section06/Section6_img03.png}" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- section06 end-->
  <!-- section07 start-->
  <div class="landing-pages-section-07">
    <div class="container">
      <div class="hd">
        <div class="title" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000"><span>K-HACCP에 대한 모든
            것,</span><br>무엇이든지 물어보세요!</div>
      </div>
      <div class="bd">
        <div class="item active" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
          <div class="title">Q. 스마트해썹이랑 같은 건가요?<div class="icon-btn"></div>
          </div>
          <div class="conts">
            <div class="answer0">A. </div>
            <div class="answer1">
              스마트해썹과는 다릅니다. K-HACCP은 해썹 인증을 받은 후 일지 작성 관리, 알람, 결재 등<br>
              해썹에 대한 [사후관리]를 해주는 전산 프로그램이에요.
            </div>
          </div>
        </div>
        <div class="item" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
          <div class="title">Q. 식약처에서 해썹을 전산으로 관리하는 것을 인정해주나요?<div class="icon-btn"></div>
          </div>
          <div class="conts">
            <div class="answer0">A. </div>
            <div class="answer1">
              식약처 기준에 따른 시스템이기 때문에 아무 문제 없어요.
            </div>
          </div>
        </div>
        <div class="item" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
          <div class="title">Q. 식약처에서 점검 나왔을 때는 어떻게 해야 하나요?<div class="icon-btn"></div>
          </div>
          <div class="conts">
            <div class="answer0">A. </div>
            <div class="answer1">
              점검시 일지를 요구했을 때 PC나 휴대폰으로 해썹 자료를 보여드리기만 하면 돼요.
            </div>
          </div>
        </div>
        <div class="item" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
          <div class="title">Q. 식약처로 우리 회사 정보가 넘어가는 건 아닌가요?<div class="icon-btn"></div>
          </div>
          <div class="conts">
            <div class="answer0">A. </div>
            <div class="answer1">
              NHN 클라우드 서버를 이용하기 때문에 정보 유출의 우려가 없어요. <br> (자사 데이터는 자사만 확인 가능해요.)
            </div>
          </div>
        </div>
        <div class="item" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
          <div class="title">Q. 작성한 일지는 별도로 서류를 출력해야 하나요?<div class="icon-btn"></div>
          </div>
          <div class="conts">
            <div class="answer0">A. </div>
            <div class="answer1">아니요. 출력하실 필요 없어요. 일자별로 시스템에서 조회 가능해요.</div>
          </div>
        </div>
        <div class="item" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
          <div class="title">Q. 해썹(인증)이 두 개 이상인 경우에는 어떻게 하나요?<div class="icon-btn"></div>
          </div>
          <div class="conts">
            <div class="answer0">A. </div>
            <div class="answer1"> 계정 관리를 통해 여러 개의 해썹(인증)을 한번에 관리할 수 있어요.
            </div>
          </div>
        </div>
        <div class="item" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
          <div class="title">Q. 데이터는 어떻게 관리 되나요?<div class="icon-btn"></div>
          </div>
          <div class="conts">
            <div class="answer0">A. </div>
            <div class="answer1">
              클라우드를 통해 안전하게 데이터를 관리하고 있어요.<br> 하루에 한 번 자동으로 데이터를 백업하고 있어요.
            </div>
          </div>
        </div>
        <div class="item" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
          <div class="title">Q. 프로그램 사용법이 어렵지는 않을까요<div class="icon-btn"></div>
          </div>
          <div class="conts">
            <div class="answer0">A. </div>
            <div class="answer1">해썹을 모르는 사람도 누구나 쉽게 사용 가능해요.<br>
              제공되는 동영상 매뉴얼을 보면서 쉽게 따라 하실 수 있어요. </div>
          </div>
        </div>
        <div class="item" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
          <div class="title">Q. 도입비용이 많이 비싼가요? <div class="icon-btn"></div>
          </div>
          <div class="conts">
            <div class="answer0">A. </div>
            <div class="answer1">K-HACCP은 12개월(1년) 사용 결제시 도입비용이 무료예요.</div>
          </div>
        </div>
        <!-- <div class="item" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
                    <div class="title">Q. 입출고 관련 수불이 되나요? <div class="icon-btn"></div></div>
                    <div class="conts">
                        <div class="answer0">A. </div>
                        <div class="answer1">원료수불부 메뉴를 통해 입고 수량, 사용수량, 생산수량, 출고 수량에 대해<br>
                원료수불부를 작성하시면 수불이 돼요.</div>
                    </div>
                </div> -->
        <div class="item" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
          <div class="title">Q. 냉동차량 타코메타지는 어떻게 관리하나요? <div class="icon-btn"></div>
          </div>
          <div class="conts">
            <div class="answer0">A. </div>
            <div class="answer1">휴대폰이나 태블릿으로 현장에서 타코메타지의 사진을 찍어,<br>
              일지에 바로 파일을 첨부할 수 있어요.</div>
          </div>
        </div>
        <div class="item" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
          <div class="title">Q. 해썹 서류 결재는 어떻게 하나요? <div class="icon-btn"></div>
          </div>
          <div class="conts">
            <div class="answer0">A. </div>
            <div class="answer1">플랫폼의 결재함에서 모든 결재를 검토할 수 있어요.</div>
          </div>
        </div>
        <div class="item" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
          <div class="title">Q. 교육일지는 어떻게 작성하나요? <div class="icon-btn"></div>
          </div>
          <div class="conts">
            <div class="answer0">A. </div>
            <div class="answer1">1월~12월까지 교육 계획과 내용이 시스템에 들어있어요. 그대로 교육하시고 휴대폰이나 태블릿<br>
              으로 사진을 찍어 교육 증빙을 바로 첨부할 수 있어요.</div>
          </div>
        </div>
        <div class="item" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
          <div class="title">Q. 해썹 일지 외에 사용하는 서류들이 있는데, 서류는 어떻게 관리하나요? <div class="icon-btn"></div>
          </div>
          <div class="conts">
            <div class="answer0">A. </div>
            <div class="answer1">기타일지에 관련 파일 첨부하여 전산화 관리가 가능해요.</div>
          </div>
        </div>
        <div class="item" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
          <div class="title"> Q. 해썹일지 작성을 혼자하고 있어요. 그럼 결재/승인은 어떻게 하죠? <div class="icon-btn"></div>
          </div>
          <div class="conts">
            <div class="answer0">A. </div>
            <div class="answer1">결재선 관리 메뉴를 통해 결재와 승인을 혼자서도 관리할 수 있어요.</div>
          </div>
        </div>
        <div class="item" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
          <div class="title">Q. 해썹 기준서가 변경되었을 때는 어떻게 하나요? <div class="icon-btn"></div>
          </div>
          <div class="conts">
            <div class="answer0">A. </div>
            <div class="answer1">변경된 기준서를 고객센터로 보내주시면 수정을 해드려요.</div>
          </div>
        </div>
        <div class="item" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
          <div class="title">Q. 보건증은 어떻게 관리하나요? <div class="icon-btn"></div>
          </div>
          <div class="conts">
            <div class="answer0">A. </div>
            <div class="answer1">보건증 갱신 시기가 다가오면 설정한 날짜에 미리 알람을 드려요.<br>
              그리고 갱신된 새로운 보건증을 시스템에 첨부하시면 돼요.</div>
          </div>
        </div>
        <div class="item" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
          <div class="title">Q. 해썹 품목이 추가되었을 때는 어떻게 하나요? <div class="icon-btn"></div>
          </div>
          <div class="conts">
            <div class="answer0">A. </div>
            <div class="answer1">품목 등록 매뉴를 통해 직접 품목을 등록하거나 문의 시 고객센터에서 도와드려요.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section07 end-->
  <!-- section08 start-->
  <div class="landing-pages-section-08">
    <div class="container">
      <div class="text-conts" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
        <div class="title"><span>K-HACCP</span><br>프로그램 다운로드</div>
        <div class="desc">K-HACCP 플랫폼을 통해 효율적이고 간편하게 <br>HACPP 사후관리를 시작해보세요.</div>
      </div>
      <div class="barcode-conts" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
        <img th:src="@{images/pages/k_haccp/section08/Section8_QRcode.png}" />
      </div>
      <div class="img-conts" data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000">
        <img th:src="@{images/pages/k_haccp/section08/Section8_img.png}" />
      </div>
    </div>
  </div><!-- section08 end-->
  <!-- landing page end -->
  <div class="landing-pages-section-09">
    <div class="sectionWrap">
    </div>
  </div>
  <!-- <div class="landing-pages-section-10">
        <div class="sectionWrap">
        </div>
    </div> -->
  <div class="landing-pages-section-11">
    <div class="sectionWrap">
    </div>
  </div>
  <th:block th:replace="~{layouts/footer :: footer}"></th:block>
  </div>
  <script defer th:src="@{/js/layouts/header.js}"></script>
  <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
  <script th:src="@{https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js}"></script>
  <script>
    $("document").ready(function () {
      AOS.init()

      let ovf, slider;
      $(function(){
        ovf = this.getElementById("overflow");
        slider = this.getElementById("slider");
        winResize();
        $(window).bind({resize: winResize, scroll: winScroll});
        // if(part !== '0') {
        // 	window.scrollTo(0, window.innerHeight - 70);
        // }
      });
      function winResize(){
        ovf.style.top = slider.offsetHeight + "px";
      }
      function winScroll(){
        // var op = 1 - (window.pageYOffset / slider.offsetHeight);
        // slider.style.opacity = op;
        ovf.style.opacity = 1;
      }


      //section01
      const section01 = new Swiper('.landing-pages-swiper-01', {
        // Optional parameters
        // direction: 'vertical',
        loop: true,
        autoplay: {
          delay: 5000,
        },
        // If we need pagination
        pagination: {
          el: '.swiper-pagination',
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
          clickable: true,
        },
      });
      //stop swiper
      $('.landing-pages-swiper-01 .swiper-button-stop').click(function () {
        section01.autoplay.stop()
        $('.swiper-button-stop').hide()
        $('.swiper-button-start').show()
      })
      //start swiper
      $('.landing-pages-swiper-01 .swiper-button-start').click(function () {
        section01.autoplay.start()
        $('.swiper-button-start').hide()
        $('.swiper-button-stop').show()
      })

      //section03
      //    				var section030 = new Swiper(".landing-pages-section-03-swiper0", {
      //    					direction: "vertical",
      //    					loop:true,
      //    					autoplay: false,
      //    					pagination: {
      //    						clickable: true,
      //    					}
      //    				});
      //    				var section031 = new Swiper(".landing-pages-section-03-swiper1", {
      //    					direction: "vertical",
      //    					loop:true,
      //    					autoplay: false,
      //    					pagination: {
      //    						clickable: true,
      //    					}
      //    				});
      //    				$('.landing-pages-section-03 .tab-btn').click(function(){
      //							if($(this).index()===0){
      //								section030.autoplay.start()
      //								section031.autoplay.stop()
      //							}else{
      //								section031.autoplay.start()
      //								section030.autoplay.stop()
      //							}
      //    					console.log($(this).index())
      //    					if(!$(this).hasClass('active')){
      //    						$(this).addClass('active')
      //    						$(this).siblings().removeClass('active')
      //    						console.log($(this).index())
      //    						$('.landing-pages-section-03 .tab-bd .tab-cont').eq($(this).index()).addClass('active')
      //    						$('.landing-pages-section-03 .tab-bd .tab-cont').eq($(this).index()).siblings().removeClass('active')
      //    					}
      //    				})
      //						var options = {
      //						  root: null,
      //						  rootMargin: '0px',
      //						  threshold: 0.0
      //						}
      //						var observer = new IntersectionObserver((entrys) => {
      //								for (var v of entrys) {
      //									if(v.isIntersecting){
      //										section030.autoplay.start()
      //									}else{
      //										section030.autoplay.stop()
      //									}
      //								}
      //						}, options);
      //						observer.observe(document.getElementsByClassName("landing-pages-section-03-swiper0")[0]);
      // section04
      var section04 = new Swiper(".landing-pages-section-04-swiper", {
        slidesPerView: 4,
        speed: 1000,
        loop: true,
        centeredSlides: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false // 쓸어 넘기거나 버튼 클릭 시 자동 슬라이드 정지.
        },
        spaceBetween: 0,
        grabCursor: true,
        breakpoints: {
          // when window width is >= 320px
          320: {
            slidesPerView: 1,
            spaceBetween: 0
          },
          // when window width is >= 480px
          480: {
            slidesPerView: 2,
            spaceBetween: 0
          },
          // when window width is >= 640px
          640: {
            slidesPerView: 4,
            spaceBetween: 0
          }
        }
      });
      $('.landing-pages-section-04-swiper .prev-btn').click(function () {
        section04.slidePrev()
      })
      $('.landing-pages-section-04-swiper .next-btn').click(function () {
        section04.slideNext()
      })
      //section07
      $('.landing-pages-section-07 .bd .item').click(function () {
        console.log($(this).hasClass('active'))
        if ($(this).hasClass('active')) {
          $(this).removeClass('active')
        } else {
          $(this).addClass('active')
          $(this).siblings().removeClass('active')
        }
      })
      $(".app").click(function () {
        $(".appPop").animate({ "bottom": "0px" });
      })
      $(".x").click(function () {
        $(".appPop").animate({ "bottom": "-500px" });
      })

    });
    
    $('#appDown').click(function() {
      let filter = "win16|win32|win64|mac";
      let varUA = navigator.userAgent.toLowerCase();
0
      if ( varUA.indexOf('android') > -1) {
        window.location.href = "https://play.google.com/store/apps/details?id=com.itfactory.haccpfree";
	    } else if ( varUA.indexOf("iphone") > -1||varUA.indexOf("ipad") > -1||varUA.indexOf("ipod") > -1 ) {
        window.location.href = "https://apps.apple.com/kr/app/k-haccp/id6443481602";
		  } else {
        window.location.href = "https://play.google.com/store/apps/details?id=com.itfactory.haccpfree";
      }
    });
  </script>
  <script th:src="@{https://unpkg.com/aos@2.3.1/dist/aos.js}"></script>
</body>


</html>