<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>아이티팩토리</title>
  <link rel="stylesheet" th:href="@{/css/notice/notice_detail.css}">
<style>
	table, th, tr, td {border: 1px solid black; border-collapse: collapse;}
</style>
</head>
<body>
	<!-- <th:block th:replace="~{layouts/header :: header}"></th:block> -->
	
	<h1>공지사항</h1>
	<input type="hidden" th:value="${seq}" id="seq">
	<div th:text="${noticeEntity.title}"></div>
	<div th:utext="${noticeEntity.contents}"></div>
	<input type="button" id="noticeModify" value="수정" th:if="${session.userId == 'admin'}">
	<input type="button" id="noticeList" value="목록">
  	<!-- <th:block th:replace="~{layouts/footer :: footer}"></th:block> -->
  	<script defer th:src="@{/js/notice/notice_detail.js}"></script>
</body>
</html>