<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>아이티팩토리</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/notice_request.css}">
  	<!-- <link rel="stylesheet" th:href="@{/css/notice/notice_detail.css}"> -->
	<link rel="stylesheet" th:href="@{//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css}">
</head>
<body>
	<th:block th:replace="~{layouts/header :: header}"></th:block>
	<div class="container">
		<section class="title-section">
			<h3><b>공지사항</b><br> 아이티팩토리는<br>항상 고객의 입장에서 생각합니다 </h3>
			<img th:src="@{/images/notice/customers.jpg}" alt="background-images"/>
		</section>
		<section class="contents">
			<input type="hidden" th:value="${seq}" id="seq">
			<div class="d-notice-title" th:text="${noticeEntity.title}"></div>
			<div class="contents-wrap">
				<input class="notice-modify" type="button" id="noticeModify" value="수정" th:if="${session.userId == 'admin'}">
				<div class="notice-contents" th:utext="${noticeEntity.contents}"></div>
			</div>
			<input class="notice-list" type="button" id="noticeList" value="목록">
		</section>
	</div>
	<th:block th:replace="~{layouts/footer :: footer}"></th:block>
	<script defer th:src="@{/js/layouts/header.js}"></script>
	<script defer th:src="@{/js/notice/notice_detail.js}"></script>
</body>
</html>